**/*.rs.bk
*.egg-info/
*.pyc
*.pyd
*.so
/.coverage
/.eggs/
/.idea/inspectionProfiles/
/.idea/misc.xml
/.idea/modules.xml
/.idea/rust-swagger-validator.iml
/.idea/workspace.xml
/.mypy_cache/
/.pytest_cache/
/.rust_coverage/
/.tox/
/Cargo.lock
/build/
/dist/
/kcov-v*/
/target
/temp-dir/
/venv/
